# Build folders
/build/
/dist/
/target/

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# Compiled files
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Tomcat
work/
temp/
